<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Team page</title>
</head>
<body class="container">

<% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
<% } %>

<% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
<% } %>
<%if(admin ==1){%>
    <a href="/admin" class="btn btn-outline-primary mt-5">Назад</a>
    <%}%>
<% if (data.length) { %>
<div class="container">
    <div class="row featurette">
        <div class="col-md-9 d-inline-block m-auto">
            <div class="well profile">
                <div class="col-sm-12">
                    <div class="">
                        <h2><strong>НАЗВА КОМАНДИ: </strong><%= data[0].team_name%></h2>
                        <h3><strong>БАЛАНС: </strong> <%= data[0].team_balance%> </h3>

                    </div>

                </div>

            </div>

        </div>
        <div class="col-md-3 d-inline-block">
            <img class="featurette-image img-fluid" src="../images/aceLabel.jpg" alt="Ace logo">
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills w-100">
            <li class="nav-pill active">
                <a class="nav-link">Транзакції команди</a>
            </li>
        </ul>
    </div>
    <div class="card-body">

        <% if(data[0].transaction_date) { %>
            <div class="table-responsive">
            <table class="table" id="tranTable">
                <thead>
                <tr>
                    <th scope="col" class="th-sm">#</th>
                    <th scope="col" class="th-sm">ДАТА</th>
                    <th scope="col" class="th-sm">ДЕБЕТ +</th>
                    <th scope="col" class="th-sm">КРЕДИТ -</th>
                    <th width="col" class="th-sm">ІНФО</th>
                    <th width="col" class="th-sm">АВТОР</th>
                    <th width="col" class="th-sm">СТУДЕНТ</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i< data.length; i++) { %>
                    <tr>
                        <th scope="row"><%= (i+1) %></th>
                        <td><%let m = data[i].transaction_date;
                            let minute;
                            if(m.getUTCMinutes()==0){
                                minute = "00";
                            }else{
                                minute =m.getUTCMinutes();
                            }%>
                            <%= m.getUTCDate() +"/"+ (m.getUTCMonth()+1) +"/"+ m.getUTCFullYear() + " " + m.getUTCHours() + ":" + minute%>
                        </td>
                        <% if (data[i].transaction_type==1){%>
                            <td></td>
                            <td><%= data[i].transaction_amount%></td>
                            <%} else{%>
                            <td><%= data[i].transaction_amount%></td>
                            <td></td>
                            <%}%>
                        <td><%= data[i].transaction_note%></td>
                        <td><%= data[i].author%></td>
                        <td><%= data[i].user_name%></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            </div>
        <% } else{ %>
            <p class="text-center">Жодної транзакції не знайдено!</p>
        <% } %>

    </div>
</div>
<hr class="divider">
    <% if(data[0].transaction_date){%>
<div class="container">
    <h2>Команда бізнесменів</h2>
    <!--<p>Use the .list-group-flush class to remove some borders and rounded corners:</p>-->
</div>

<div class="container">
    <ul id="sum" class="list-group list-group-flush">

    </ul>
</div>
    <%}%>
<% } else { %>
    <p class="text-center">An error occurred!</p>
<% } %>
<hr class="divider">
<footer>
    <p class="text-center">For future ACE businessmen and  businesswomen 2020</p>
</footer>
</body>
<script>
    function calculateSum() {

        $.ajax({

            url: "/team/<%=team_id%>/sum",
            // dataType: "json", // Для использования JSON формата получаемых данных
            method: "GET", // Что бы воспользоваться POST методом, меняем данную строку на POST
           // data: {"order_id": id,"order_state": state},
            success: function(resp) {
                let data = resp.sum;
                console.log(data);
                for(let i=0; i<data.length;++i)
                {
                    let li_sum = document.createElement("li");
                    li_sum.setAttribute("class", "list-group-item");
                    var text = document.createTextNode("Бізнесмен "+(i+1)+": "+data[i].user_name+' = '+data[i].sum);
                    li_sum.appendChild(text);
                    document.getElementById("sum").appendChild(li_sum);
                    // location.reload();
                }

            }
        });
    }
    calculateSum();

        $(document).ready(function () {
            $('#tranTable').DataTable();
        });

</script>
</html>